<ion-view title="General" hide-back-button="true" id="page25">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/zsRco5ITStmK6qR9fz4H_204.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>