<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu22"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu22">
        <ion-header-bar class="bar-stable">
            <div class="title">Hispa- Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item class="item-icon-left" ui-sref="hispaMenu.hispa" menu-close="">
                    <i class="icon ion-log-in"></i>Hispachan</ion-item>
                <ion-item class="item-icon-left item-icon-right assertive" ui-sref="hispaMenu.hispa" menu-close="">
                    <i class="icon ion-information"></i>Info/Reglas
                    <i class="icon ion-medkit"></i>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right assertive" ui-sref="hispaMenu.hispa" menu-close="">
                    <i class="icon ion-information"></i>Blog
                    <i class="icon ion-social-wordpress"></i>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right assertive" ui-sref="hispaMenu.hispa" menu-close="">
                    <i class="icon ion-information"></i>Bans
                    <i class="icon ion-flame"></i>
                </ion-item>
                <ion-item class="item-icon-left item-icon-right assertive" ui-sref="hispaMenu.hispa" menu-close="">
                    <i class="icon ion-information"></i>Twitter
                    <i class="icon ion-social-twitter"></i>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>