<ion-view title="Hispa" id="page20">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="General">
                <img>
                <h2>General</h2>
                <p style="white-space:normal;">Tablón con contenido General</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="hispaMenu.general">
                <img>
                <h2>Chicas Sexy</h2>
                <p style="white-space:normal;">Tablón imágenes de chicas sexy.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="hispaMenu.general">
                <img>
                <h2>Hentai</h2>
                <p style="white-space:normal;">Tablón para compartir Hentai.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="general">
                <img>
                <h2>LGBT</h2>
                <p style="white-space:normal;">Tablón para debate sobre gays, lesbianas, transexuales y bisexuales.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="general">
                <img>
                <h2>Anime y Manga</h2>
                <p style="white-space:normal;">Tablón para debate sobre Anime, Manga y cultura japonesa.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="general">
                <img>
                <h2>Ciencia y Tecnología</h2>
                <p style="white-space:normal;">Tablón para debate sobre Ciencia y Tecnología.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="general">
                <img>
                <h2>Cómics y Animación</h2>
                <p style="white-space:normal;">Tablón para debate sobre cómics y animación occidental.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="general">
                <img>
                <h2>Dibujo y Arte</h2>
                <p style="white-space:normal;">Tablón para debate sobre dibujo y arte</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="general">
                <img>
                <h2>Funposting</h2>
                <p style="white-space:normal;">Tablón para postear sin sentido y comportarte como un retrasado mental.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="general">
                <img>
                <h2>Humanidades</h2>
                <p style="white-space:normal;">Tablón para debate sobre Humanidades: historia, literatura, filosofía, antropología, derecho, religión</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="general">
                <img>
                <h2>Internacional/Política</h2>
                <p style="white-space:normal;">Tablón para debate sobre culturas, países, lenguas, política, eventos de actualidad</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="general">
                <img>
                <h2>Música, Cine y Series</h2>
                <p style="white-space:normal;">Tablón para debate sobre música, bandas, conciertos, cine, series.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="regionales">
                <img>
                <h2>REGIONAL</h2>
                <p style="white-space:normal;">Tablones Regionales</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>