<ion-view title="Regionales" id="page27">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <h2>España.</h2>
                <p style="white-space:normal;">Tablón para debate sobre temas locales de España.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <h2>Argentina.</h2>
                <p style="white-space:normal;">Tablón para debate sobre temas locales de Argentina.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <h2>Chile.</h2>
                <p style="white-space:normal;">Tablón para debate sobre temas locales de Chile.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <h2>Colombia.</h2>
                <p style="white-space:normal;">Tablón para debate sobre temas locales de Colombia.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <h2>México.</h2>
                <p style="white-space:normal;">Tablón para debate sobre temas locales de México.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <h2>Perú.</h2>
                <p style="white-space:normal;">Tablón para debate sobre temas locales de Perú.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <h2>venezuela.</h2>
                <p style="white-space:normal;">Tablón para debate sobre temas locales de Venezuela.</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>