<ion-view title="Responder  Post" id="page26">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Título</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select">
                <span class="input-label">Opciones</span>
                <select>
                    <option>Normal</option>
                    <option>Sage</option>
                    <option>Noko</option>
                    <option>Nokosage</option>
                    <option>#OP</option>
                    <option>#Dado</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Post</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="responderPost-button13" class="button button-calm button-small button-block">Archivo</button>
        <button id="responderPost-button12" class="button button-positive  button-block">Enviar</button>
        <button id="responderPost-button10" class="button button-assertive  button-block">Cancelar</button>
    </ion-content>
</ion-view>